streamlit>=1.36.0
streamlit-autorefresh>=0.2.0
yfinance>=0.2.40
lightgbm>=4.3.0
pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.4.0
pandas-ta>=0.3.14b0
matplotlib>=3.8.0
torch>=2.3.0
transformers>=4.42.0
GoogleNews>=1.6.13
pytz>=2024.1
